<p>Esta web ha sido desarrollado por Jordi Cerdan en el marco del curso de MiriadaX sobre NodeJS</p>
<p>Con este calor, no viene en ganas ver mi jeto per si una foto de una...</p>
<img src="/images/cerveza.jpg">