<!DOCTYPE html>
<html>
  <head>
    <title>Respuesta</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
  </head>
  <body>
    <h1><%= respuesta %></h1>
    <p>
      <a href="/quizzes/question">Volver a empezar</a>
    </p>
  </body>
</html>